<!DOCTYPE html>
<html>
<head>
  <title>demo1</title>
</head>
<body>
  <h1>页面a</h1>
  <p class="a_color">ddd</p>
  <p class="a_size">bbbbb</p>
</body>
<script type="text/javascript"></script>
<!-- 开发环境，require引入开发 -->
<script data-main="../src/demo1/js/main-a.js" src="../node_modules/requirejs/require.js"></script>

<!-- 线上环境，采用almond 打base包， 各页面使用page -->
<!-- <script type="text/javascript" src="../static/demo1/js/base.js"></script> -->
<!-- <script type="text/javascript" src="../static/demo1/js/main-a.js"></script> -->



</html>